<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.37.137:3306/poona?useUnicode=true&amp;characterEncoding=utf8" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
		<property name="initialSize" value="5" />
		<property name="maxActive" value="-1" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.hduo.pojo.Customer</value>
				<value>com.hduo.pojo.TrackItem</value>
				<value>com.hduo.pojo.Card</value>
				<value>com.hduo.pojo.Doc</value>
				<value>com.hduo.pojo.PracticeRecord</value>
				<value>com.hduo.pojo.Cost</value>
				<value>com.hduo.pojo.BackEndUser</value>
				<value>com.hduo.pojo.BackEndRole</value>
				<value>com.hduo.pojo.BackEndResource</value>
			</list>
		</property>

		<!-- <property name="mappingResources"> <list> <value>product.hbm.xml</value> 
			</list> </property> -->

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
			</props>
		</property>

	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven />


	<!-- dao -->
	<bean id="dao" class="org.hduo.dao.Dao" abstract="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="cardDao" class="org.hduo.dao.CardDao" parent="dao" />
	<bean id="customerDao" class="org.hduo.dao.CustomerDao" parent="dao" />
	<bean id="docDao" class="org.hduo.dao.DocDao" parent="dao" />
	<bean id="costDao" class="org.hduo.dao.CostDao" parent="dao" />
	
	<bean id="backEndResourceDao" class="org.hduo.dao.BackEndResourceDao" parent="dao" />
	<bean id="backEndRoleDao" class="org.hduo.dao.BackEndRoleDao" parent="dao" />
	<bean id="backEndUserDao" class="org.hduo.dao.BackEndUserDao" parent="dao" />
	<!-- manager -->
	<bean id="cardManager" class="com.hduo.manager.CardManagerImpl">
		<property name="cardDao" ref="cardDao" />
	</bean>
	<bean id="costManager" class="com.hduo.manager.CostManagerImpl">
		<property name="costDao" ref="costDao" />
	</bean>
	<bean id="customerManager" class="com.hduo.manager.CustomerManagerImpl">
		<property name="customerDao" ref="customerDao" />
	</bean>
	<bean id="docManager" class="com.hduo.manager.DocManagerImpl">
		<property name="docDao" ref="docDao" />
	</bean>
	
	<bean id="backEndResourceManager" class="com.hduo.manager.BackEndResourceManagerImpl">
		<property name="backEndResourceDao" ref="backEndResourceDao" />
	</bean>
	<bean id="backEndRoleManager" class="com.hduo.manager.BackEndRoleManagerImpl">
		<property name="backEndRoleDao" ref="backEndRoleDao" />
	</bean>
	<bean id="backEndUserManager" class="com.hduo.manager.BackEndUserManagerImpl">
		<property name="backEndUserDao" ref="backEndUserDao" />
	</bean>
	
	<!-- action -->
	<bean id="cardAction" class="com.hduo.action.CardAction" scope="prototype">
		<property name="cardManager" ref="cardManager" />
	</bean>
	<bean id="costAction" class="com.hduo.action.CostAction" scope="prototype">
		<property name="costManager" ref="costManager" />
	</bean>
	<bean id="docAction" class="com.hduo.action.DocAction" scope="prototype">
		<property name="docManager" ref="docManager" />
	</bean>
	<bean id="customerAction" class="com.hduo.action.CustomerAction"
		scope="prototype">
		<property name="customerManager" ref="customerManager" />
		<property name="cardManager" ref="cardManager" />
	</bean>
	
	<bean id="backEndRoleAction" class="com.hduo.action.BackEndRoleAction"
		scope="prototype">
		<property name="backEndRoleManager" ref="backEndRoleManager" />
		<property name="backEndResourceManager" ref="backEndResourceManager" />
	</bean>
	
	<bean id="backEndUserAction" class="com.hduo.action.BackEndUserAction"
		scope="prototype">
		<property name="backEndRoleManager" ref="backEndRoleManager" />
		<property name="backEndUserManager" ref="backEndUserManager" />
	</bean>
	
</beans>

